@using BlazorFill.Elements
@using BlazorFill.Components.DatePicker

@page "/Components"

<Section Width="70%" Title="Components">
	<Row Gap="2rem">
		<Column Width="50%">
			<h3>DatePicker</h3>
			<DatePicker></DatePicker>
		</Column>
	</Row>
</Section>

@code {

}