<div class="column" style="width: @Width;">
	@ChildContent
</div>

@code {

	[Parameter]
	public RenderFragment? ChildContent { get; set; }

	[Parameter]
	public string Width { get; set; } = "50%";

}