@using Microsoft.AspNetCore.Components.Web
@if (Model != null)
{
    <ul>
        @foreach (var model in Model)
        {
            <li @onclick="model.Click">
                @model.Content
            </li>
            <div>

            </div>
        }
    </ul>
}

@code {

    [Parameter]
    public IEnumerable<DropdownModel>? Model { get; set; }

}