@if (Model != null)
{
    <ul>
        @foreach (var model in Model)
        {
            <li @onmouseover="() => Console.WriteLine(model.Content)">@model.Content</li>
            <div>
                
            </div>
        }
    </ul>
}

@code {

    [Parameter]
    public IEnumerable<DropdownModel>? Model { get; set; }

}
