@inherits LayoutComponentBase

<header>
	<LoginDisplay/>
	<a href="/Components">Components</a>
	<a href="/">Home</a>
	<a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
</header>

<main>
	<article>
		@Body
	</article>
</main>